[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "pack/dist/start/vim-airline"]
	path = pack/dist/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "pack/tpope/start/repeat"]
	path = pack/tpope/start/repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "pack/tpope/start/surround"]
	path = pack/tpope/start/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
